{% extends 'master/master.html' %}
{% load static %}
{% block title %}
Teky-Landing học với gia sư
{% endblock %}
{% block content %}
    {% include 'blog/blog1.html' %}
    {% include 'blog/learn-why.html' %}
    {% include 'blog/learn-online.html' %}
    {% include 'blog/learn-team.html' %}
    {% include 'blog/learn-intro.html' %}
    {% include 'blog/learn-start.html' %}
    {% include 'blog/learn-forcing.html' %}
    {% include 'blog/learn-prize.html' %}
    {% include 'blog/learn-parent.html' %}
    {% include 'blog/learn-modal.html' %}
{% endblock  %}
