 <!--Footer part-->
    <!--l-footer-->
    <div class="l-footer">
        <div class="c-footer-main">
          <div class="container">
            <div class="c-footer-main__flex">
              <div class="c-footer-main__left">
                <div class="c-footer-main__col">
                  <div class="c-footer-label">Về chúng tôi!</div>
                  <div class="c-footer-content">
                    <div class="c-footer-list is-dot">
                      <ul>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Báo chí nói về TEKY</a></li>
                        <li><a href="#">Giải thưởng</a></li>
                        <li><a href="#">Tuyển dụng</a></li>
                        <li><a href="#">Liên hệ</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="c-footer-main__col">
                  <div class="c-footer-label">Dịch vụ</div>
                  <div class="c-footer-content">
                    <div class="c-footer-list is-dot">
                      <ul>
                        <li><a href="#">Các khoá học</a></li>
                        <li><a href="#">Đội ngũ giáo viên</a></li>
                        <li><a href="#">Giải pháp giáo dục</a></li>
                        <li><a href="#">Sự kiện</a></li>
                        <li><a href="#">Blog</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="c-footer-main__col">
                  <div class="c-footer-label">Cộng đồng</div>
                  <div class="c-footer-content">
                    <div class="c-footer-list is-dot">
                      <ul>
                        <li><a href="#">Dự án</a></li>
                        <li><a href="#">Cộng đồng</a></li>
                        <li><a href="#">Học sinh tiêu biểu</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="c-footer-main__col">
                  <div class="c-footer-label">Nền tảng khác</div>
                  <div class="c-footer-content">
                    <div class="c-footer-list is-dot">
                      <ul>
                        <li><a href="#">Toppy</a></li>
                        <li><a href="#">TutorO</a></li>
                        <li><a href="#">Codekitten</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="c-footer-main__col is-full is-margin-bottom-minus">
                  <div class="c-footer-label">Hệ thống trung tâm</div>
                </div>
                <div class="c-footer-main__col">
                  <div class="c-footer-label is-small">Miền Bắc</div>
                  <div class="c-footer-content">
                    <div class="c-footer-list is-dot">
                      <ul>
                        <li><a href="#">Cầu Giấy, Hà Nội</a></li>
                        <li><a href="#">Hà Đông, Hà Nội</a></li>
                        <li><a href="#">Hoàn Kiếm, Hà Nội</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="c-footer-main__col">
                  <div class="c-footer-space-pc"></div>
                  <div class="c-footer-content">
                    <div class="c-footer-list is-dot">
                      <ul>
                        <li><a href="#">Long Biên, Hà Nội</a></li>
                        <li><a href="#">Nam Từ Liêm, Hà Nội</a></li>
                        <li><a href="#">Ngô Quyền, Hải Phòng</a></li>
                        <li><a href="#">TP Hạ Long, Quảng Ninh</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="c-footer-main__col">
                  <div class="c-footer-label is-small">Miền Nam</div>
                  <div class="c-footer-content">
                    <div class="c-footer-list is-dot">
                      <ul>
                        <li><a href="#">Quận 2, Hồ Chí Minh</a></li>
                        <li><a href="#">Quận 3, Hồ Chí Minh</a></li>
                        <li><a href="#">Quận 7, Hồ Chí Minh</a></li>
                        <li><a href="#">Tân Bình, Hồ Chí Minh</a></li>
                        <li><a href="#">Bình Tân, Hồ Chí Minh</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="c-footer-main__col">
                  <div class="c-footer-space-pc"></div>
                  <div class="c-footer-content">
                    <div class="c-footer-list is-dot">
                      <ul>
                        <li><a href="#">Gò Vấp, Hồ Chí Minh</a></li>
                        <li><a href="#">Bình Thạnh, Hồ Chí Minh</a></li>
                        <li><a href="#">Phú Nhuận, Hồ Chí Minh</a></li>
                        <li><a href="#">Thủ Dầu Một, Bình Dương</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="c-footer-main__col is-full">
                  <div class="c-footer-label">Liên hệ hợp tác<br><span class="is-small">Hợp tác trưởng, trại hè, CLB, Cuộc thi: xxxxxxxx</span></div>
                </div>
              </div>
              <div class="c-footer-main__right">
                <div class="c-footer-label">Hãy là người đầu tiên biết</div>
                <div class="c-footer-content">
                  <div class="b-maincontent">
                    Đăng ký để cập nhật về các
                    <span class="text-danger">ưu đãi hấp dẫn</span>
                    nhất, các sản phẩm mới thú vị nhất và các sự kiện cuộc thi ...
                  </div>
                  <div class="c-block-email">
                    <div class="input-group">
                      <input class="form-control" type="text" placeholder="Email của bạn">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="icon16-envelope-white"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="c-block-social">
                    <ul>
                      <li><a href="#"><i class="icon16-facebook-black"></i></a></li>
                      <li><a href="#"><i class="icon16-linkedin-black"></i></a></li>
                      <li><a href="#"><i class="icon24-youtube-black"></i></a></li>
                      <li><a href="#"><i class="icon16-instagram-black"></i></a></li>
                    </ul>
                  </div>
                  <div class="b-maincontent">
                    <p><b>CÔNG TY CỔ PHẦN CÔNG NGHỆ & SÁNG TẠO TRẺ TEKY HOLDINGS</b></p><br>
                    <p>Mã số thuế: 0108434588</p>
                    <p>Đại diện theo pháp luật: Đào Lan Hương</p>
                  </div>
                  <div class="c-footer-verify"><a href="#"><img src="images/footer-verify.png" alt="Đăng ký BCT"></a></div>
                </div>
              </div>
            </div>
          </div>
          <!--end container-->
        </div>
        <!--end c-footer-main-->
        <div class="c-footer-bottom">
          <div class="container">
            <div class="c-footer-bottom__flex">
              <div class="c-footer-logo"><a href="index.html"><img src="images/logo-footer.svg" alt="logo"></a></div>
              <div class="c-copyright">
                <p>
                  Bản quyền © 2016-2021
                  <span class="text-primary">Công ty CP Công nghệ & Sáng tạo Trẻ TEKY Holdings</span>
                </p>
              </div>
            </div>
          </div>
          <!--end container-->
        </div>
        <!--end c-footer-bottom-->
      </div>
      <!--end l-footer-->