{% load static %}
<div class="c-learn-intro">
    <ul>
      {% for learn_intro in intro  %}
      <li>
        <div class="b-grid">
          <div class="b-grid__img">
            <figure><img src="{{learn_intro.img.url}}" alt="intro"></figure>
          </div>
          <div class="b-grid__content">
            <div class="b-grid__row"><span class="b-grid__title">{{ learn_intro.title }}</span></div>
          </div>
          <div class="b-grid__row b-grid__desc">{{ learn_intro.content}}</div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!--end c-learn-intro-->
</div>
<!--end container-->
</div>
<!--end c-block-->