
   <!DOCTYPE html>
   
    <html>
        <head>
            {% load static %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="author" content="Template">
            <meta name="COPYRIGHT" content="© Template">
            <meta name="robots" content="noodp,index,follow">
            <meta name="google" content="notranslate">
            <meta name="keywords" content="">
            <meta name="description" content="">
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/ico">
            <title>
                {% block title %}
                {% endblock  %}
            </title>     
            <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
            <link rel="stylesheet" href="{% static 'css1/login.css' %}">

        </head>
        <body>
            {% include 'master/navmaster.html' %}
            {% block content %}
            
            {% endblock content %}

            {% include 'master/partner.html' %}
            {% include 'master/footer.html' %}
            <script src ="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://code.jquery.com/jquery-migrate-1.4.1.js"></script> 
            <script src="{% static 'js/owl.carousel.min.js' %}"></script>
            <script src="{% static 'js/owl.carousel2.thumbs.js' %}"></script>
            <script src="{% static 'js/funtion.js' %}"></script>
            <script src="{% static 'js/style.js' %}"></script> 
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
            <script src="{% static 'js/registerstudent.js' %}">
        </body>
        <script>
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
              })
        </script>
    </html>