<div class="bg-gray-light c-home-partner">
    <div class="container">
      <div class="clearfix">
        <div class="c-home-partner__right">
          <div class="c-box is-shadow">
            <div class="c-box__title">
              <div class="c-box__title__name"><span class="text-medium text-label">Đối tác</span>
                & khách hàng
              </div>
              <div class="c-box__title__shadow">Partners</div>
            </div>
            <div class="c-box__content">
              <div class="b-maincontent">
                <p>Tại Teky chúng tôi hình thành các mối quan hệ hợp tác chặt chẽ và được giám sát chặt chẽ dựa trên tầm nhìn chung lâu dài</p>
                <p>Chúng tôi đã may mắn được làm việc với một số tập đoàn, công ty và học viện uy tín hàng đầu trong và ngoài nước.</p>
              </div>
              <!-- b-maincontent-->
            </div>
            <!-- c-box__content-->
          </div>
          <!-- c-box-->
        </div>
        <!-- c-home-partner__right-->
        <div class="c-home-partner__left">
          <div class="c-partner-grid">
            <ul class="clearfix">
              <li>
                <div class="c-logo-item">
                  <div class="c-logo-item__inner">
                    <figure><img src="/tekylearn/static/images/upload/logo_1.png" alt="logo"></figure>
                  </div>
                </div>
              </li>
              <li>
                <div class="c-logo-item">
                  <div class="c-logo-item__inner">
                    <figure><img src="/tekylearn/static/images/upload/logo_2.png" alt="logo"></figure>
                  </div>
                </div>
              </li>
              <li>
                <div class="c-logo-item">
                  <div class="c-logo-item__inner">
                    <figure><img src="/tekylearn/static/images/upload/logo_3.png" alt="logo"></figure>
                  </div>
                </div>
              </li>
              <li>
                <div class="c-logo-item">
                  <div class="c-logo-item__inner">
                    <figure><img src="/tekylearn/static/images/upload/logo_4.png" alt="logo"></figure>
                  </div>
                </div>
              </li>
              <li>
                <div class="c-logo-item">
                  <div class="c-logo-item__inner">
                    <figure><img src="/tekylearn/static/images/upload/logo_5.png" alt="logo"></figure>
                  </div>
                </div>
              </li>
              <li>
                <div class="c-logo-item">
                  <div class="c-logo-item__inner">
                    <figure><img src="/tekylearn/static/images/upload/logo_6.png" alt="logo"></figure>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- c-home-partner__left-->
      </div>
      <!-- clearfix-->
    </div>
    <!-- container-->
  </div>