
<div class="c-learn-head">
    <div class="container">
      <div class="c-learn-head__flex">
        <div class="c-learn-head__caption">
          <h1 class="c-learn-head__title"><span class="is-big">{{blog.number}}</span><br>{{blog.titlte}}</h1>
          <h2 class="c-learn-head__desc">{{blog.content}}</h2>
          <div class="c-learn-head__btn"><a class="btn btn-light btn-lg" href="{% url 'register' %}">Đăng ký tư vấn ngay</a></div>
          <div class="c-app-download">
            <ul class="is-col-3">
              <li><i class="icon84-smartphone-white"></i>
                <label>Mobiles</label><span>IOS & Android</span>
              </li>
              <li><i class="icon84-tablet-white"></i>
                <label>Tablets</label><span>Android & Ipad</span>
              </li>
              <li><i class="icon96-desktop-white"></i>
                <label>Desktops</label><span>All Browsers</span>
              </li>
            </ul>
          </div>
          <div class="c-footer-app">
            <ul>
              <li><a href="#"><i class="icon16-ios-white"></i>iOS App</a></li>
              <li><a href="#">
                  <div class="icon16-android-white"></div>Android App</a></li>
            </ul>
          </div>  
        </div>
        <div class="c-learn-head__img">
          <figure><img src="{{blog.img.url}}" alt="learn head"></figure>
        </div>
      </div>
    </div>
  </div>