<div class="row py-5">
    <div class="col-2">
    </div>
    <div class="col-8">
        <div class="test-support-form">
            <div class="test-support-form__title">Bạn muốn được <b>Tư vấn miễn phí?</b></div>
            <form class="" method="" action="">
                {% csrf_token %}
            <div class="c-support-form__row clearfix">
              <div class="c-support-form__col">
                <div class="form-group">
                  <input type="text" name="" class="form-control" placeholder="Họ và tên" />
                </div>
              </div>
              <div class="c-support-form__col">
                <div class="form-group is-tel">
                  <input type="text" name="" class="form-control" placeholder="Số điện thoại" />
                 
                </div>
              </div>
              <div class="c-support-form__col">
                <div class="form-group">
                  <select name="" class="form-control">
                    <option>Trung tâm?</option>
                    <option>Hà Nội - Nguyễn Thị Thập</option>
                    <option>Hà Nội - Trần Phú Hà Đông</option>
                  </select>
                </div>
              </div>
              <div class="c-support-form__col">
                <div class="form-group">
                  <select name="" class="form-control">
                    <option>Chương trình học</option>
                    <option>Mẫu giáo</option>
                    <option>Tiểu học</option>
                  </select>
                </div>
              </div>
              <div class="c-support-form__col is-button">
                <button type="submit" class="btn btn-block btn-primary btn-lg text-uppercase">Đăng ký</button>
              </div>
            </div>
            </form>
          </div><!-- c-support-form -->
    </div>
    <div class="col-2">
    </div>
</div>
