<form method="post" action=" {% url 'tekylearn' %}" id="formregister">
  {% csrf_token %}
<div class="modal fade" id="modal1" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-custom">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Đăng ký tư vấn miễn phí</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
          <div class="c-small-form b-form">
            <div class="form-group">
              <label>Họ và tên học sinh</label>
              {{form.name}}
            </div>
            <div class="form-group">
              <label>Năm sinh</label>
              {{form.year}}
            </div>
            <div class="form-group">
              <label>Họ và tên phụ huynh</label>
              {{form.nameparent}}
            </div>
            <div class="form-group">
              <label>Email liên hệ</label>
              {{form.email}}
              </div>
            <div class="form-group">
              <label>Số điện thoại liên hệ</label>
              {{form.phonenumber  }}
            </div>
            <div class="form-group is-last">
              <button class="btn btn-primary btn-block btn-lg" type="submit">Đăng ký</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</form>
  
  
  
  